<!DOCTYPE html>
<html>
<head>
	<title>About bikeshare map</title>
</head>
<body>
<div>
	This is a project to display latest <a href="https://www.capitalbikeshare.com/">Capital Bikeshare</a> map data by <a href="http://www.carlostorres.codes">Carlos Torres</a>. The data is checked every ten seconds, but if nothing has changed, it is not updated. They already have a map <a href="https://secure.capitalbikeshare.com/map/">here</a>, but I wanted to build my own. Right now it just shows current status, but I'm planning on adding more statistics in the future.<br/><br/>The project is was written in Python using <a href="https://www.palletsprojects.com/p/flask/"></a>Flask. The map is provided by <a href="https://www.mapbox.com">Mapbox</a>. The data is from the <a href="https://www.capitalbikeshare.com/system-data">Capital Bikeshare API</a>, which I store in an AWS RDS Postgres database.<a href="/"><br/><br/>Go Back</a>
</div>
</body>
</html>